---
---

@import "{{ site.theme }}";

$cafce-red: #782121;
$cafce-blue: #009dff;

a {
    color: $cafce-red;
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
            display: block;
            float: left;
            background: #444444;
            padding: 4px 16px;
            margin: 0 2px;
            a {
                color: #fff;
                display: block;
                text-align: center;
                text-decoration: none;
            }
            a:hover {
                color: #ffffff;
                text-decoration: none;
            }

            ul {
                background: $cafce-red;
                display: none;
                position: absolute;
                left: 0;
                width: 100%;
                z-index: 1;
                li {
                    background: $cafce-red;
                }
            }
        }
        li.has-sub > a::after {
            content: ' \25bc';
        }
        .this-page, .this-page:hover {
            background: #fff;
            text-decoration: none;
            a {
                color: #000;
            }
        }
        li:hover {
            background: $cafce-red;
            ul {
                display: block;
            }
        }
    }
}

div#main_content_wrap {
    border-top: 0;
}
